<!-- /admin/view.html -->
{% extends 'layout.html' %}
{% block content %}
    View Page
    <ul>
        <li><strong>No.</strong> : {{list[index-1].num}}</li>
        <li><strong>UserID</strong> : {{list[index-1].userid}}</li>
        <li><strong>Name</strong> : {{list[index-1].name}}</li>
        <li><strong>Username</strong> : {{list[index-1].username}}</li>
        <li><strong>Birth</strong> : {{list[index-1].birth}}</li>
        <li><strong>Gender</strong> : {{list[index-1].gender}}</li>
        <li><strong>Contact</strong> : {{list[index-1].contact}}</li>
        <li><strong>Phone</strong> : {{list[index-1].phone}}</li>
        <li><strong>Date</strong> : {{list[index-1].date}}</li>
        <li><strong>Level</strong> : {{list[index-1].level}}</li>
        <li><strong>Status</strong> : {{list[index-1].status}}</li>
    </ul>
    <a href="/admin/update?index={{index}}">Update</a>
    <a href="/admin/list">Go To List</a>
{% endblock %}