<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="http://localhost:3000/layout.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="wrap">
    <div id="header">
      <h1><a href="/">로고</a></h1>
    </div>
    {% block content %}
    {% endblock %}
    <div id="footer"></div>
  </div>
</body>

</html>