<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
    <div id="wrap">
        <table>
            <tr>
                <td>아이디 : {{user.userid}}</td>
            </tr>
            <tr>
                <td>이름 : {{user.name}}</td>
            </tr>
            <tr>
                <td>닉네임 : {{user.username}}</td>
            </tr>
            <tr>
                <td>level : {{user.level}}</td>
            </tr>
        </table>
    </div>
</body>
</html>

