<!-- /user/register.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <a href="/">LOGO</a>
    </h1>

    <div id="wrap">
        <form method="post" action="/user/register">
            <ul>
                <li>
                    아이디 : <input type="text" name="userid">
                </li>
                <li>
                    비밀번호 : <input type="password" name="userpw">
                </li>
                <li>
                    이름 : <input type="text" name="name">
                </li>
                <li>
                    닉네임 : <input type="text" name="username">
                </li>
                <li>
                    등급 : <input type="text" name="level">
                </li>
                <li>
                    생일 : <input type="text" name="birth">
                </li>
                <li>
                    성별 : <input type="gender" name="gender">
                </li>
                <li>
                    전화번호 : <input type="text" name="contact">
                </li>
                <li>
                    휴대전화번호 : <input type="text" name="phone">
                </li>
                <li>
                    <input type="submit" value="확인">
                </li>
            </ul>
        </form>
    </div>
</body>

</html>