* {
  width: 100%;
  height: 100%;
  background: pink;
}

#wrap {
  width: 100%;
  height: 100%;
  background: black;
}

#index {
  width: 1200px;
  height: 900px;
  background: #333;
  margin: 0 auto;
}