<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>
            <a href="/">로고</a>
        </h1>
        <h2>
            게시판_글쓰기
        </h2>
        <!-- 제목,작성자,작성일 
            Request method GET, POST 
            내용을 가지고오고싶을떄 내용을 화면을 꾸밀때, 
        -->
        <form method="post" action="/board/write">
            <ul>
                <li>
                    제목 : <input type="text" name="subject">
                </li>
                <li>
                    작성자 : <input type="text" name="username">
                </li>
                <li>
                    작성일 : <input type="text" name="date">
                </li>
            </ul>
            <input type="submit" value="작성하기">
        </form>
    </body>
    </html>