<!-- /board/write.html -->
{% extends "layout.html" %}
{% block content %}
<h2>게시판 글쓰기</h2>
<form method="post" action="board/write">
    <ul>
        <li>제목 : <input type="text" name="subject"></li>
        <li>작성자 : <input type="text" name="username"></li>
        <li>작성일 : <input type="text" name="date"></li>
        <li>내용 : <textarea></textarea></li>
    </ul>
    <input type="submit" value="글 작성">
</form>
{% endblock %}

<!-- 
    localhost:3000/board/list
    localhost:3000/board/write
    localhost:3000/board/update
    localhost:3000/board/view
 -->